:root {
  --primary_color: #F66B0E;
  --secondary_color: #205375;
  --gray_color : #F5F5F5;
  --white_color: #fff;
  --gray2_color:#b5b5b5;

}





.box_shadow_card{
  box-shadow: 1px 5px 14px -8px rgb(0 0 0 / 54%);
    width: 20% !important;
}


.productmanagementImage{
  width: 90px;
}



*{
  font-family: 'Inter', sans-serif;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

.Home_container{
  width: 100%;
  padding-left: auto;
  padding-right: auto;
  background-color: var(--gray_color);
}

.Home_container .containe_home{
  max-width: 1300px;
  min-width: 1260px;
  margin-left: auto;
  margin-right: auto;
}


.secondary-color{
  color : var(--secondary_color) !important;
}

.bg_orange{
  background-color:var(--primary_color) !important;
  color:white !important;
}


.bg_gray {
  background-color: var(--gray_color) !important;
}

.bg_white{
  background-color: var(--white_color);
}
.primary_color{
  color: var(--primary_color) !important;
}

.popularBook{
  padding-top:13px;
  padding-bottom: 20px;
}

.Popular_books_container{
  display: flex;
  overflow-x: scroll;
  flex-shrink: unset;
  padding-bottom: 20px;
  
}

.popularBook .book{
  margin-left: 18px;
}

.popularBook ::-webkit-scrollbar {
  width: 10px;
  height: 17px;
}

::-webkit-scrollbar-thumb {
  background: rgba(216, 216, 216, 0.451);
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover{
  background: rgb(216, 216, 216);}

.book a {
  text-decoration: none;
}


.title{
  padding: 20px;
  width: 100%;
  margin-bottom: 13px;
}

.group {
  display: flex;
  line-height: 28px;
  align-items: center;
  position: relative;
  
}


.book{
  width: 220px;
  padding: 14px;
  flex-shrink: 0;
}



.book .book_cover{
  width: 100%;
  height: 254px;
  background-size:cover; 
}


.book_title{
  text-transform: capitalize !important;
  font-weight: 600;
  padding-top: 12px;
  font-size: 16px;
  margin: 0px;
  color: black ;

}

.book_author{
  color: var(--gray2_color);
  margin: 0;
  font-size: 15px;
}


.book_price{
  margin-top: 4px;
  font-size:17px;
  font-weight: bold;
  margin-bottom: 4px;
  padding-top: 3px;
}

.book_discount{
  font-size: 17px;
  font-weight: 600;
  text-decoration: line-through;
  color: var(--gray2_color) ;
  display: inline;
}

.discount_percent{
  margin-left: 4px;
  background-color: #f66b0e3b;
  color:var(--primary_color);
  font-weight: bold;
  padding: 2px 5px;
}

.rating{
  font-size: 17px;
  display: flex;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 3px;
}

.select_label{
  margin-right: 12px;
}

.select-container_sort {
  position: relative;
  display: inline;
  border:1.4px solid rgba(0, 0, 0, 0.185);
  padding: 9px !important;
  padding-right: 0px !important;
}

.icon {
  position: absolute;
  width: 100%;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
}

.select-container_sort select {
  font-size: 16px;
  border: none;
  width: 150px !important;
  border-radius: 4px;
  display: inline;
  padding: 8px ;
  color: rgba(0, 0, 0, 0.568);
}

.select-container_sort select:focus{
  border: none;
  outline: 0;
}


.select_category{
  padding: 8px !important;
    border: 1.4px solid rgba(0, 0, 0, 0.185);
      color: rgba(0, 0, 0, 0.568);
}

.select_category:focus{
    border: 1.4px solid rgba(0, 0, 0, 0.185);
    outline: 0;
}

.shipping{
  font-weight: 700;
  color: var(--gray2_color);
  padding-top: 4px;
  text-transform: capitalize;
  padding-top: 6px;
}

.btn_add_toCart{
  background-color: var(--primary_color) !important;
  width: 100%;
  color: var(--white_color) !important;
  font-weight: 800 !important;
}

.book_container .filter {
  background-color: var(--white_color);
  padding-top: 40px;
  padding-left: 30px;
}



.book_container{
  display: grid;
  grid-template-columns: 1.25fr 4.5fr;
  gap: 25px;

}
.sort_container{
  display: flex;
  background-color: var(--white_color);
  justify-content: space-between;
  padding: 40px;

}

.book_result{
  background-color: var(--white_color);
}

.books_container{
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap;
}

.books_container .book{
  margin: 0px 20px 27px 0px;
}

.input {
  width: 100%;
  height: 40px;
  line-height: 28px;
  padding: 0 1rem;
  padding-left: 2.5rem;
  border: 2px solid transparent;
  border-radius: 8px;
  outline: none;
  background-color: #f3f3f4;
  color: #0d0c22;
  transition: .3s ease;
}

.input::placeholder {
  color: #9e9ea7;
}

.input:focus,
input:hover {
  outline: none;
  border-color: rgba(0, 0, 0, 0.4);
  background-color: #fff;
}

.search_icon {
  position: absolute;
  left: 1rem;
  fill: #9e9ea7;
  width: 1rem;
  height: 1rem;
}


/* 
@keyframes slideAnimation {
  from {opacity:0;}
  to {opacity: 100;}
} */

